:host {
  z-index: 999;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #2B2B2B;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10vh;
  padding: 1rem 0 1rem 0;
  border-top: 0.1rem solid #707070;

  &--item {

  }
}
