:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maps {
  width: 90vw;
  height: auto;
  background: var(--black-color);
  border-radius: 0.7rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  position: relative;

  &--dismiss {
    position: absolute;
    left: 1rem;
  }
}
