<div class="logout">
  <div class="logout--page">
    <h1>Poxa :(</h1>
    <img class="home--logo" src="assets/images/logo.svg">
    <h2>Iremos sentir sua falta!</h2>

    <h2>Time Help Us!</h2>
    <div class="logout--page--devs">
      <img src="assets/images/vini.jpg">
      <img src="assets/images/Lucas.jpg">
      <img src="assets/images/Bia.jpg">
      <img src="assets/images/Eduardo.jpg">
    </div>
    <h3 style="color: var(--yellow-color)">Deseja realmente sair?</h3>
    <div class="logout--page--buttons">
      <button class="no" (click)="router.navigate(['/feed'])">Quero continuar e ir pra página de feed!</button>

      <button class="yes" (click)="router.navigate(['/login'])">Desejo Sair!</button>
    </div>
  </div>
</div>
