.logout {
  background: var(--black-color);
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 2rem 2rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &--page {
    text-align: center;

    &--buttons {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 2rem;
    }
  }
}

.no {
  width: 100%;
  height: 100%;
  background: none;
  border: 0.2rem dashed var(--yellow-color);
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

.yes {
  width: 100%;
  height: 100%;
  background: var(--yellow-color);
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: var(--black-color);
  padding: 1rem 1rem;
}
