.feed-occurrence {
  width: 100%;
  height: 100%;
  border: .1rem solid var(--yellow-color);
  border-radius: 1rem;
  color: white;
  padding: 1rem;

  &--header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &--occurrence-image {
      width: 100%;
      text-align: center;
    }

    &--user {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 2rem;

      ion-avatar {
        min-width: 4rem;
        max-width: 4rem;
        min-height: 4rem;
        max-height: 4rem;
      }

      &--detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 1;
        gap: 0.5rem;
        word-break: break-word;

        &--name {
          font-size: 1.3rem;
        }

        &--location {
          font-size: 1rem;
          color: var(--yellow-color);
        }
      }
    }
  }

  &--content {
    padding: 2rem 1rem 1rem 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--title {
      font-weight: bold;
    }

    &--description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      line-clamp: 8;
    }

    &--img {
      border-radius: .5rem;
      border: 0.1rem dashed var(--yellow-color);
    }
  }
}
