<div class="home">
  <img class="home--logo" src="assets/images/logo.svg">
  <h3>Selecione o tipo de ocorrência</h3>
  <div class="home--occurrence">
    <div class="home--occurrence--type">
      <img src="assets/images/occurrence/batida.svg">
      <p>Acidente de<br>carro</p>
    </div>
    <div class="home--occurrence--type">
      <img src="assets/images/occurrence/incendio.svg">
      <p>Indêndio</p>
    </div>
    <div class="home--occurrence--type">
      <img src="assets/images/occurrence/desmoronamento.svg">
      <p>Desmoro-<br>namento</p>
    </div>
    <div class="home--occurrence--type">
      <img src="assets/images/occurrence/policia.svg">
      <a href="tel:+5515996409619">Policia</a>
    </div>
  </div>
</div>
