<div class="login">
  <img class="login--logo-img" src="assets/images/logo.svg">
  <label style="font-size: 1.3rem">Entre com sua conta</label>

  <div class="login--form">
    <div class="login--form--login">
      <img class="login--form--login--img" src="assets/images/user-login-icon.svg">
      <input (keydown.enter)="password.focus()" class="login--form--login--input" type="text" placeholder="Email" [(ngModel)]="loginPayload.email">
    </div>
    <div class="login--form--login">
      <img class="login--form--login--img" src="assets/images/u_lock.svg">
      <input #password (keydown.enter)="login()" class="login--form--login--input" [type]="showPasswordLogin ? 'text' : 'password'" placeholder="Senha" [(ngModel)]="loginPayload.password">
      <button class="login--form--login--eye" (click)="showPasswordLogin = !showPasswordLogin">
        <img [src]="showPasswordLogin ? 'assets/images/eye_icon.svg' : 'assets/images/eye-off_icon.svg'">
      </button>
    </div>
    <span class="login--forgot" (click)="router.navigate(['/register'])">Registrar-se</span>

  </div>

  <button class="login--enter-button" [class.disable]="!canLogin() || isLoading" (click)="login()">
    {{ isLoading ? 'Carregando...' : 'ENTRAR' }}
  </button>

  <div class="login--or">
    <img src="assets/images/line.svg" alt="">
    <label>ou</label>
    <img src="assets/images/line.svg" alt="">
  </div>

  <button class="login--invited" (click)="invitedLogin()">ENTRAR COMO CONVIDADO</button>

<!--  <div class="login&#45;&#45;developed">-->
<!--    <h5>-->
<!--      Developed by Vini-->
<!--    </h5>-->
<!--    <a href="https://github.com/viniciusmartinsgranso">-->
<!--      <img src="assets/images/github.svg">-->
<!--    </a>-->
<!--    <a href="https://www.linkedin.com/in/vinicius-martins-granso/">-->
<!--      <img src="assets/images/linkedin.svg">-->
<!--    </a>-->
<!--  </div>-->
</div>
