<div class="register">
  <div class="register--navbar">
    <img class="register--navbar--back" src="assets/images/back-arrow.svg" (click)="router.navigate(['/login'])">
    <img class="register--navbar--logo" src="assets/images/logo.svg">
  </div>

  <div class="register--form">
    <div class="register--form--register">
      <img class="register--form--register--img" src="assets/images/user-login-icon.svg">
      <input class="register--form--register--input" type="text" placeholder="Nome" [(ngModel)]="registerPayload.name">
    </div>

    <div class="register--form--register">
      <img class="register--form--register--img" src="assets/images/user-login-icon.svg">
      <input class="register--form--register--input" type="text" placeholder="Email" [(ngModel)]="registerPayload.email">
    </div>

    <div class="register--form--register">
      <img class="register--form--register--img" src="assets/images/user-login-icon.svg">
      <input class="register--form--register--input" type="text" placeholder="Cidade" [(ngModel)]="registerPayload.city">
    </div>

    <div class="register--form--register">
      <img class="register--form--register--img" src="assets/images/user-password.svg">
      <input class="register--form--register--input" [type]="showPasswordRegister ? 'text' : 'password'" placeholder="Senha" [(ngModel)]="registerPayload.password">
      <button class="register--form--register--eye" (click)="showPasswordRegister = !showPasswordRegister">
        <img [src]="showPasswordRegister ? 'assets/images/eye-off_icon.svg' : 'assets/images/eye_icon.svg'">
      </button>
    </div>

    <div class="register--form--register">
      <img class="register--form--register--img" src="assets/images/user-password.svg">
      <input class="register--form--register--input" (keydown.enter)="register()" [type]="showConfirmPasswordRegister ? 'text' : 'password'" placeholder="Confirme sua senha" [(ngModel)]="registerPayload.confirmPassword">
      <button class="register--form--register--eye" (click)="showConfirmPasswordRegister = !showConfirmPasswordRegister">
        <img [src]="showConfirmPasswordRegister ? 'assets/images/eye-off_icon.svg' : 'assets/images/eye_icon.svg'">
      </button>
    </div>

    <img style="width: 100%" src="assets/images/line.svg">

    <button class="register--form--submit-button" [class.disable]="isLoading || !canRegister()" (click)="register()">Registrar-se</button>

  </div>
</div>
