<div class="new-occurrence">
  <div class="new-occurrence--titles">
    <img src="assets/images/back-arrow.svg" [routerLink]="['/home']">
    <div class="new-occurrence--titles--lables">
      <h1>Tipo:</h1>
      <p>{{ type }}</p>
    </div>
  </div>
  <div class="new-occurrence--form">
    <img src="assets/images/text-occurrence.svg" alt="">
    <input class="new-occurrence--form--input" type="text" placeholder="Título" [(ngModel)]="occurrence.title">
  </div>
  <div class="new-occurrence--form">
    <img class="description-image" src="assets/images/description-occurrence.svg" alt="">
    <textarea class="new-occurrence--form--input" placeholder="Descrição" cols="3" rows="10" [(ngModel)]="occurrence.description"></textarea>
  </div>
  <div class="new-occurrence--form">
    <img src="assets/images/location-occurrence.svg" alt="">
    <input class="new-occurrence--form--input" type="text" [(ngModel)]="occurrence.location" placeholder="Localização">
  </div>
  <div class="new-occurrence--form">
    <label (click)="inputElement.click()"> Selecionar a imagem da ocorrência</label>
    <input #inputElement type="file">
  </div>
  <button class="new-occurrence--submit" (click)="postNewOccurrence()">Criar ocorrência</button>
</div>
