.new-occurrence {
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: #2B2B2B;
  overflow: auto;

  &--titles {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;
    width: 100%;
    position: relative;

    img {
      position: absolute;
      left: 0;
    }

    &--lables {
      display: flex;

      h1 {
        margin: 0 .5rem 0 0;
      }

      p {
        margin: 0;
        color: var(--yellow-color);
      }
    }
  }

  &--form {
    position: relative;
    display: flex;
    align-items: center;

    &--icon {
      position: absolute;
      left: 0.6rem;
    }

    &--input {
      width: 100%;
      background: #D9D9D9;
      border-radius: 0.3rem;
      border: none;
      outline: none;
      padding: 1rem 0.5rem 1rem 3rem;
      color: black;
      resize: none;
    }
  }

  &--occurrence-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem dashed var(--yellow-color);
    width: 100%;
    border-radius: 1rem;

    input[type="file"] {
      display: none;
    }

    &--img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
  }

  &--submit {
    border: 0.1rem dashed var(--yellow-color);
    padding: 1rem 0 1rem 0;
    width: 100%;
    border-radius: 1rem;
    background: var(--yellow-color);
    font-size: 1.2rem;
    color: black;
  }
}

.description-image {
  position: absolute;
  left: 0.6rem;
  top: 1rem;
}

.disable {
  opacity: .3;
  pointer-events: none;
}
