.profile {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-bottom: 10vh;
  box-sizing: border-box;
  background: var(--black-color);
  z-index: 1;
  overflow: auto;

  &--modal {
    width: 100%;
    margin-top: 5rem;
    height: 100%;

    &--content {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      font-family: Gotham, sans-serif;

      &--user {

        &--pic {
          display: flex;
          justify-content: center;
          position: relative;

          img {
            border-radius: 100%;
            width: 8rem;
            position: absolute;
            border: .3rem solid white;
            top: -6rem;
          }
        }

        &--menu {
          display: flex;
          justify-content: flex-end;

          img {
            padding: 0.4rem;
            border: 0.1rem solid white;
            border-radius: 100%;
          }
        }

        &--labels {
          text-align: center;
          margin-top: 2rem;

          &--name {
            font-weight: bold;
            font-size: 2rem;
          }

          &--job {
            color: gray;
            font-size: 1.1rem;
            font-weight: bold;
          }
        }
      }

      &--posts {
        width: 100%;
        height: 100%;
        margin-bottom: 4rem;

        &--title {
          text-align: center;
          margin: 1.5rem 0;
        }

        &--my-posts {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 3rem;

          app-feed-occurrence {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.invited {
  text-align: center;
}
